<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="post">{% csrf_token %}
        <div>
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Senha:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
            <a href="/cadastro">
                <button type="button">Cadastrar</button>
            </a>
        </div>
    </form>

    {% for message in messages %}
        <span>Erro: {{ message }}</span>
    {% endfor %}
</body>
</html>